<%= form_with(model: top) do |form| %>
  <% if top.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(top.errors.count, "error") %> prohibited this top from being saved:</h2>

      <ul>
        <% top.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.text_field("reason") %>
    <%= form.text_field("request") %>
    <%= form.text_field("source_user_id") %>
    <%= form.text_field("destination_user_id") %>
    <%= form.submit %>
  </div>
<% end %>
